


@media screen and (max-width:480px) {
  
  
#main-nav-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    padding:0.5em 5em;
     background-color: rgb(2, 67, 165);
    color:rgb(243, 236, 238);
    height: 3em;
    width:32em;
    border-radius: 5px;
    border-bottom: 2px solid #1e1e1f;
}





.mobile-dropdown-btn{
    height: 2em;
    font-size: 1rem;
    cursor: pointer;
    margin:15px 0 0 15px;
    
}


  #mobile-dropdown {
  position: relative;
  padding-right: 5em;
  display: inline-flex;
  margin:2em 2em;
  justify-content: space-evenly;
  
  
}

#mobile-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color:black;
  min-width:125px;
  height:200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  top: 30px;
}

#mobile-dropdown-content>div{
margin:15px;
}

.mobile-dropdown-content-link{
text-decoration: none;
font-size:1rem;
font-weight:bold;
color: rgb(44, 44, 46);
cursor:pointer;
}

#mobile-dropdown:hover #mobile-dropdown-content {
  display: block;
}



#desktop-main-nav{
        display: none;
    }
}