
/*small  mobile*/

@media screen and (max-width:480px) {



.logout-btn{
    border-radius:5px; 
    width:100px; 
    height:35px;
    font-weight:bold;
    border-style:none; 
    padding:2px;
    background-color:#f10808ff;
    color:white;
}

.Logout-header{
margin: 1.2rem;
}



}






/*large mobile device*/

@media screen and (min-width:481px)and (max-width:768px) {



.logout-btn{
    border-radius:5px; 
    width:100px; 
    height:35px;
    font-weight:bold;
    border-style:none; 
    padding:2px;
    background-color:#f10808ff;
    color:white;
}

.Logout-header{
margin: 1.2rem;
}



}


/*small laptops and PCs*/
@media screen and (min-width:769px)and (max-width:1279px) {



.logout-btn{
    border-radius:5px; 
    width:100px; 
    height:35px;
    font-weight:bold;
    border-style:none; 
    padding:2px;
    background-color:#f10808ff;
    color:white;
}

.Logout-header{
margin: 1.2rem;
}



}


/*large laptops and PCs*/
@media screen and (min-width:1280px) {



.logout-btn{
    border-radius:5px; 
    width:100px; 
    height:35px;
    font-weight:bold;
    border-style:none; 
    padding:2px;
    background-color:#f10808ff;
    color:white;
}

.Logout-header{
margin: 1.2rem;
}



}