


/*small mobile devices*/

@media screen and (max-width:480px) {


.product-snapshot{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 22rem;
    height:6rem;
    font-size: 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    padding: 0.2rem;
    background-color:rgb(253, 253, 253) ;
}

.product-highlight{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.product-highlight span{
    margin:0 10px;
}

.product-details-link>button{
    margin: 0 0.1rem;
    font-size:1rem;
    height: 2rem;
    width: 6rem;
    border-radius: 5px;
    border-style:none;
    font-weight: bold;
    background-color: rgb(28, 92, 211);
    color: rgb(246, 252, 252);

}

#go-home-btn{
    margin:0.5rem 0;
    font-size:1rem;
    height: 2rem;
    width: 5rem;
    border-radius: 5px;
    border-style:none;
    background-color: #ff7e14;
    color: rgb(228, 232, 236);
    font-weight: bold;
}


.product-image{
    font-size: 1rem;
    width:6rem;
    height:4rem;
    margin:0;
    border-radius:2px;
}

.product-name{
    font-size: 1rem;
    font-weight: bold;
    margin:0;
    text-align: center;
}



.product-info .back-btn{
  margin: 1rem 0;
  background-color: #e20909;
  color:rgba(248, 250, 250, 0.993);
  width: 5rem;
  border-radius: 5px;
  font-weight: bold;
  height: 3rem;
  border-style:none;
}


.product-info .product-info-price{
    font-weight: bold;
    font-size: large;
    margin: 1rem 0;
}

.product-info>h1{
    text-align:center;
}




}



/*large mobile devices*/

@media screen and (min-width:481px) and (max-width:768px) {


.product-snapshot{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 22rem;
    height:6rem;
    font-size: 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    padding: 0.2rem;
    background-color:rgb(253, 253, 253) ;
}

.product-highlight{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.product-highlight span{
    margin:0 10px;
}

.product-details-link>button{
    margin: 0 0.1rem;
    font-size:1rem;
    height: 2rem;
    width: 6rem;
    border-radius: 5px;
    border-style:none;
    font-weight: bold;
    background-color: rgb(28, 92, 211);
    color: rgb(246, 252, 252);

}

#go-home-btn{
    margin:0.5rem 0;
    font-size:1rem;
    height: 2rem;
    width: 5rem;
    border-radius: 5px;
    border-style:none;
    background-color: #ff7e14;
    color: rgb(228, 232, 236);
    font-weight: bold;
}


.product-image{
    font-size: 1rem;
    width:6rem;
    height:4rem;
    margin:0;
    border-radius:2px;
}

.product-name{
    font-size: 1rem;
    font-weight: bold;
    margin:0;
    text-align: center;
}



.product-info .back-btn{
  margin: 1rem 0;
  background-color: #e20909;
  color:rgba(248, 250, 250, 0.993);
  width: 5rem;
  border-radius: 5px;
  font-weight: bold;
  height: 3rem;
  border-style:none;
}


.product-info .product-info-price{
    font-weight: bold;
    font-size: large;
    margin: 1rem 0;
}

.product-info>h1{
    text-align:center;
}




}



/*small laptop and pcs*/
@media screen and (min-width:769px) and (max-width:1279px) {


.product-snapshot{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 22rem;
    height:6rem;
    font-size: 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    padding: 0.2rem;
    background-color:rgb(253, 253, 253) ;
}

.product-highlight{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.product-highlight span{
    margin:0 10px;
}

.product-details-link>button{
    margin: 0 0.1rem;
    font-size:1rem;
    height: 2rem;
    width: 6rem;
    border-radius: 5px;
    border-style:none;
    font-weight: bold;
    background-color: rgb(28, 92, 211);
    color: rgb(246, 252, 252);

}

#go-home-btn{
    margin:0.5rem 0;
    font-size:1rem;
    height: 2rem;
    width: 5rem;
    border-radius: 5px;
    border-style:none;
    background-color: #ff7e14;
    color: rgb(228, 232, 236);
    font-weight: bold;
}


.product-image{
    font-size: 1rem;
    width:6rem;
    height:4rem;
    margin:0;
    border-radius:2px;
}

.product-name{
    font-size: 1rem;
    font-weight: bold;
    margin:0;
    text-align: center;
}



.product-info .back-btn{
  margin: 1rem 0;
  background-color: #e20909;
  color:rgba(248, 250, 250, 0.993);
  width: 5rem;
  border-radius: 5px;
  font-weight: bold;
  height: 3rem;
  border-style:none;
}


.product-info .product-info-price{
    font-weight: bold;
    font-size: large;
    margin: 1rem 0;
}

.product-info>h1{
    text-align:center;
}




}


/*large laptop and pcs*/
@media screen and  (min-width:1280px) {


.product-snapshot{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 22rem;
    height:6rem;
    font-size: 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    padding: 0.2rem;
    background-color:rgb(253, 253, 253) ;
}

.product-highlight{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.product-highlight span{
    margin:0 10px;
}

.product-details-link>button{
    margin: 0 0.1rem;
    font-size:1rem;
    height: 2rem;
    width: 6rem;
    border-radius: 5px;
    border-style:none;
    font-weight: bold;
    background-color: rgb(28, 92, 211);
    color: rgb(246, 252, 252);

}

#go-home-btn{
    margin:0.5rem 0;
    font-size:1rem;
    height: 2rem;
    width: 5rem;
    border-radius: 5px;
    border-style:none;
    background-color: #ff7e14;
    color: rgb(228, 232, 236);
    font-weight: bold;
}


.product-image{
    font-size: 1rem;
    width:6rem;
    height:4rem;
    margin:0;
    border-radius:2px;
}

.product-name{
    font-size: 1rem;
    font-weight: bold;
    margin:0;
    text-align: center;
}



.product-info .back-btn{
  margin: 1rem 0;
  background-color: #e20909;
  color:rgba(248, 250, 250, 0.993);
  width: 5rem;
  border-radius: 5px;
  font-weight: bold;
  height: 3rem;
  border-style:none;
}


.product-info .product-info-price{
    font-weight: bold;
    font-size: large;
    margin: 1rem 0;
}

.product-info>h1{
    text-align:center;
}




}